/* impress.js demo defaults end    */
/*----------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


body {
    font-family: 'PT Sans', sans-serif;
    
    min-height: 740px;

    background: rgb(135, 189, 222);
	
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(165, 219, 252)), to(rgb(110, 164, 198)));
    background: -webkit-radial-gradient(rgb(165, 219, 252), rgb(110, 164, 198));
    background:    -moz-radial-gradient(rgb(165, 219, 252), rgb(110, 164, 198));
    background:      -o-radial-gradient(rgb(165, 219, 252), rgb(110, 164, 198));
    background:         radial-gradient(rgb(165, 219, 252), rgb(110, 164, 198));
	
    -webkit-font-smoothing: antialiased;
}

b, strong { font-weight: bold }
i, em { font-style: italic}

a {
	background: rgba(255,255,255,0.4);
    color: inherit;
    text-decoration: none;
    padding: 0 0.1em;
    text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
    border-radius: 0.2em;
	
}

a:hover {
    background: rgba(255,255,255,1);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.5);
	-webkit-transition: background-color 0.5s;
    -moz-transition:	background-color 0.5s;
    -ms-transition: 	background-color 0.5s;
    -o-transition:   	background-color 0.5s;
    transition:     	background-color 0.5s;
}

/* COMMON STEP STYLES (DEMO)*/

.step {
    width: 900px;
    padding: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    font-family: 'PT Serif', georgia, serif;

    font-size: 48px;
    line-height: 1.5;
}

/* fade out inactive slides */

.step {
    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.step:not(.active) {
    opacity: 0.3;
}

/* STEP SPECIFIC STYLES (DEMO)*/

/* hint on the first slide */

.hint {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 200px;
    
    background: rgba(0,0,0,0.5);
    color: #EEE;
    text-align: center;
    
    font-size: 50px;
    padding: 20px;
    
    z-index: 100;
    
    opacity: 0;
    
    -webkit-transform: translateY(400px);
    -moz-transform:    translateY(400px);
    -ms-transform:     translateY(400px);
    -o-transform:      translateY(400px);
    transform:         translateY(400px);

    -webkit-transition: opacity 1s, -webkit-transform 0.5s 1s;
    -moz-transition:    opacity 1s,    -moz-transform 0.5s 1s;
    -ms-transition:     opacity 1s,     -ms-transform 0.5s 1s;
    -o-transition:      opacity 1s,      -o-transform 0.5s 1s;
    transition:         opacity 1s,         transform 0.5s 1s;
}

.step + .hint {
    opacity: 1;
    
    -webkit-transition: opacity 1s 5s, -webkit-transform 0.5s;
    -moz-transition:    opacity 1s 5s,    -moz-transform 0.5s;
    -ms-transition:     opacity 1s 5s,     -ms-transform 0.5s;
    -o-transition:      opacity 1s 5s,      -o-transform 0.5s;
    transition:         opacity 1s 5s,         transform 0.5s;
    
    -webkit-transform: translateY(0px);
    -moz-transform:    translateY(0px);
    -ms-transform:     translateY(0px);
    -o-transform:      translateY(0px);
    transform:         translateY(0px);
}

/* (DEMO)
 * SLIDE STEP STYLES
 *
 * inspired by: http://html5slides.googlecode.com/svn/trunk/styles.css
 *
 * ;)
 */

.slide {
    display: block;

    width: 900px;
    height: 700px;

    padding: 40px 60px;

    border-radius: 10px;

    background-color: white;

    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .3);

    font-family: 'Open Sans', Arial, sans-serif;

    color: rgb(102, 102, 102);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);

    font-size: 30px;
    line-height: 36px;

    letter-spacing: -1px;
}

.slide q {
    display: block;
    font-size: 50px;
    line-height: 72px;

    margin-top: 100px;
}

.slide q strong {
    white-space: nowrap;
}


/* IMPRESS NOT SUPPORTED STYLES (DEMO)*/

.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;
    
    display: none;
    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border-radius: 10px;
    border: 1px solid #E4C652;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-not-supported .step {
    position: relative;
    opacity: 1;
    margin: 20px auto;
}

.impress-not-supported .fallback-message {
    display: block;
}

/* impress.js demo defaults end */
/*------------------------------*/
/* impress studio start         */

div.step-selected {
	background: #d6d6d6;
}

div.menu-wrapper{
	height: 250px;
}

div.menu {
	border-top: 1px solid #000;
	display: block;
	overflow: hidden;
    width: 100%;
    height: 38px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #000;
    font-family:Arial;
    font-weight:bold;
    background-image:url('../img/toolbar_metal_gradient_44x40.jpg');
}
 
@media screen {
	div.livelog {
		position: absolute;
		padding: 5px;
		left: 0px;
		top: 0px;
		width: 225px;
		height: 150px;
		background: rgba(0,0,0,0.1);
		font-size: 11px;
		color: rgba(255,255,255,0.9);
		overflow: auto;
	}
	
	div.livelog p {
		margin-bottom: 3px;
	}
	
	::-webkit-scrollbar {
		height: 5px;
		width: 5px;
	}

	::-webkit-scrollbar-thumb {
		background: rgba(255,255,255,0.7);
	}

	::-webkit-scrollbar-track {
		background: rgba(100,100,100,0.9);
	}
	
	body > div.menu {
		position: fixed;
	}
	
	.menu  ul li {
		float: left;
		display: inline;
		list-style-type: none;
		padding: 14px;
		padding-right: 25px;
	}
	
	.menu a {	
		cursor: pointer;
		color: inherit;
		text-decoration: none;
		padding: 0 0.75em;
		background: none;
		text-shadow: -1px -1px 2px rgba(100,100,100,0.7);
		border-radius: 0.3em;
	}
	
	.menu a:hover {
		cursor: pointer;
		background: rgba(255,255,255,1);
		text-shadow: -1px -1px 2px rgba(100,100,100,0.5);
	}
	
	.menu a:active {
		cursor: pointer;
		background: rgba(215,215,215,1);
		text-shadow: -1px -1px 2px rgba(100,100,100,0.5);
	}
	
	.submenu {
		background: rgba(255,255,255,0.7);
		display: none;
		min-width: 85px;
		padding-top: 3px;
		padding-bottom: 3px;
		padding-left: 5px;
		border: 1px solid #000;
		position:absolute;
	}
	
	.submenu:hover {
		background: rgba(220,220,220,0.7);
	}
	
	.submenu:active {
		background: rgba(215,215,215,0.8);
	}
	
	
	.widget {
		display: none;
	}
	
	.ui-widget {
		font-size: 12px;
	}
	
	.widget textarea {
		color: rgba(255, 255, 255, 1);
		background-color: rgba(175, 175, 175, 0.8);
	}
	
	.edit-position label {
		text-align: right;
		display: inline-block;
		width: 30px;
		margin-right: 15px;
		padding-bottom: 0.2em;
	}
	
	.edit-position span {
		font-weight: bold;
	}
	
	.edit-position #refresh-position {
		display: inline;
	}
}

/*----------------------------*/
/* custom presentation style  */